DATABASE_URL="postgresql://user:password@localhost:5432/garments_management"
PORT=8080
HOST_NAME="localhost"

# MQTT Simulator Configuration
MQTT_BROKER_URL="mqtt://152.42.238.142:1883"
CANDIDATE_ID="your-candidate-id-here"
